.InputApplication{
    padding: 12px 16px 12px 16px;
    border-radius: 8px;
    border: 1px solid rgba(115, 123, 225, 1);
}
.Container-InputApplication{
    display: flex;
    justify-content: center;
    gap: 19px;
}
.error{
    color: red;
    margin: 0;
}
.Container-InputError{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
}
.InputApplication.error {
    border: 2px solid red;
}