.Text-HeaderLaboratory{
    font-family: Montserrat;
    font-size: 24px;
    font-style: italic;
    font-weight: 600;
    line-height: 33.6px;
    text-align: center;
    color: black;
    margin: 48px 260px 48px 260px;
}