.Text-Gallery{
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.88px;
    text-align: left;
}
.Container-Gallery{
    margin: 46px 260px 46px 260px;
}
.Container-Photo-Gallery{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
}
.Container-Up-Photo{
    display: flex;
    gap: 24px;
}
.Container-RigthUp-Photo{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.Container-Down-Photo{
    display: flex;
    gap: 24px;
    align-items: start;
    justify-content: space-around;
}
.Container-LeftDown-Photo{
    display: flex;
    gap: 24px;
}